:root {
  --basic-system-font: "Montserrat", -apple-system, BlinkMacSystemFont,
    avenir next, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto,
    noto, arial, sans-serif;
}

body {
  font-family: var(--basic-system-font);
  cursor: url("../images/1.png"), auto;

  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  margin: 0;
  padding: 0;
}

button {
  cursor: url("../images/2.png"), auto;
}

.photo-card.none {
  display: none;
}

.span-uan {
  font-size: 22px;
}

.container3 {
  width: 280px;
  margin: 0 auto;
}

.div-top {
  margin-right: auto;
  margin-left: auto;
  max-width: 370px;
  height: 400px;
  background-color: green;
}

.div-top2 {
  width: 200px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.logo {
  margin-top: 20px;
}

.screen {
  padding: 20px;
  width: 240px;
  height: 240px;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  border: 2px solid black;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
}

.screen h1 {
  font-size: 26px;
}

.div-button {
  margin-right: auto;
  margin-left: auto;
  max-width: 370px;
  height: 50px;
  background-color: green;
}

.label-input {
  margin-top: 20px;
  display: none;
  font-size: 19px;
}

.label-input2 {
  margin-top: 20px;
  display: none;
  font-size: 19px;
}

.btn-confirm {
  margin-top: 10px;
  display: none;
}

.btn-confirm2 {
  margin-top: 10px;
  display: none;
}

.btn0 {
  display: none;
}

.active {
  display: block;
}

.top-check {
  padding-top: 30px;
  margin-right: auto;
  margin-left: auto;
  max-width: 370px;
  height: 290px;
  background-color: green;
}

.text {
  font-size: 16px;
  margin-bottom: 80px;
}

.text2 {
  width: 200px;
  font-size: 16px;
  margin-bottom: 80px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-end {
  font-family: inherit;
  margin-top: 20px;
  padding: 16px 24px;
  border-radius: 8px;
  background-color: #228b22;

  /* box-shadow: 5px 5px 5px red; */
  /* box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2); */
}

.btn-end:focus,
.btn-end:hover {
  background-color: black;
  color: #fff;
}

.hidden-check {
  overflow: hidden;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-top: 6px solid black;
  width: 170px;
}

.bottom-check {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;

  background-color: #fff;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
  transform: translateY(-96%);
  transition: all 0.25s linear;
}

.bottom-check.active2 {
  transform: translateY(0);
  transition: all 0.25s linear;
  border-bottom: dashed green;
}

/* .logo {
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
} */

.bottom-check:hover {
  transform: translateY(0);
  transition: all 0.25s linear;
  border-bottom: dashed green;
}

.bottom-check p {
  text-align: center;
}

.check {
  font-size: 24px;
}

.flex {
  position: relative;
}

.btn-start {
  position: absolute;
  font-family: inherit;
  margin-top: 20px;
  right: -1%;
  padding: 16px 24px;
  border-radius: 8px;
  overflow: hidden;
  background-color: #228b22;
}

.btn-start:focus,
.btn-start:hover {
  background-color: #00b300;
}

.btn-start::before {
  content: "";
  position: absolute;
  width: 50%;
  top: 2px;
  left: 2px;
  bottom: 2px;
}
/* span {
  color: #3498db;
} */

.btn-start span:nth-child(1) {
  position: absolute;
  width: 100%;
  height: 2px;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #3498db, #f1c40f, #e74c3c);

  animation: an1 2s linear infinite;
}

@keyframes an1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.btn-start span:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(to bottom, #3498db, #f1c40f, #e74c3c);

  animation: an2 2s linear infinite;
  animation-delay: 1s;
}

@keyframes an2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

.btn-start span:nth-child(3) {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to left, #3498db, #f1c40f, #e74c3c);

  animation: an3 2s linear infinite;
  animation-delay: 4s;
}

@keyframes an3 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.btn-start span:nth-child(4) {
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(to top, #3498db, #f1c40f, #e74c3c);

  animation: an4 2s linear infinite;
  animation-delay: 1s;
}

@keyframes an4 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

/* @keyframes move {
  0% {
    background-color: #2ecc71;
  }
  25% {
    background-color: #3498db;
  }
  50% {
    background-color: #f1c40f;
  }
  100% {
    background-color: #e74c3c;
  }
} */

.input {
  padding: 3px;
  /* border-radius: 4px; */
}

.color {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}
