:root {
  --basic-system-font: "Montserrat", -apple-system, BlinkMacSystemFont;
}

body {
  font-family: var(--basic-system-font);
  cursor: url("../images/1.png"), auto;

  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

button {
  cursor: url("../images/2.png"), auto;
}

/* .container {
  padding-top: 50px;
} */

.div-top {
  margin-right: auto;
  margin-left: auto;
  max-width: 370px;
  height: 400px;
  background-color: green;
}

.div-top2 {
  width: 200px;
  height: 40px;
  /* background-color: #fff; */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.div-img {
  /* padding-top: 40px; */
  margin-top: 20px;
  /* background-color: #fff; */
}

.div-top-button {
  padding: 20px;
  width: 240px;
  height: 240px;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.div-top-button h1 {
  font-size: 26px;
}

.div-button {
  margin-right: auto;
  margin-left: auto;
  max-width: 370px;
  height: 50px;
  background-color: green;
}

/* .div-button img {
  display: block;
  margin-left: auto;
  margin-right: auto;
} */

.label-input {
  margin-top: 20px;
  display: none;
  font-size: 19px;
}

/* .btn {
  background-color: #fff;
} */

.btn2 {
  margin-top: 10px;
  display: none;
}

.btn0 {
  display: none;
}

.active {
  display: block;
}

.b {
  margin-right: auto;
  margin-left: auto;
  max-width: 370px;
  height: 200px;
  background-color: green;
}

.text {
  font-size: 17px;
  margin-bottom: 80px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* margin: 0 auto; */
  padding-left: 14px;
  padding-right: 14px;
}

.btn-end {
  margin-top: 20px;
  margin-left: 28px;
  padding: 5px;
  border-radius: 4px;
  background-color: #228b22;
}

.btn-end:focus,
.btn-end:hover {
  /* background-color: orangered; */
  background-color: #00b300;
}

.btn {
  margin-top: 20px;
  margin-right: 28px;
  padding: 5px;
  border-radius: 4px;
  background-color: #228b22;
  /* background-color: #4cbb17; */
}

.btn:focus,
.btn:hover {
  /* background-color: yellow; */
  background-color: #00b300;
}

.xxx {
  overflow: hidden;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-top: 2px solid grey;
  width: 170px;
}

.a {
  /* opacity: 0; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;

  background-color: #fff;
  /* width: 130px; */
  transform: translateY(-96%);
  transition: all 0.25s linear;
}

.a.active2 {
  /* opacity: 1; */
  transform: translateY(0);
  transition: all 0.25s linear;
  border-bottom: dashed green;
}

.a:hover {
  transform: translateY(0);
  transition: all 0.25s linear;
  border-bottom: dashed green;
}

.a p {
  text-align: center;
}

/* h1 {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(
    45deg,
    DeepPink,
    BlueViolet,
    Indigo,
    Red,
    DarkOrange,
    Yellow,
    Lime,
    MediumTurquoise,
    Aqua,
    Blue,
    Olive
  );
  background-size: 400% 400%;
  animation: move 10s ease infinite;
} */

/* @keyframes move {
  0% {
    background-position: 0, 0;
  }
  25% {
    background-position: 100%, 0;
  }
  50% {
    background-position: 100%, 100%;
  }
  75% {
    background-position: 0, 100%;
  }
  100% {
    background-position: 0, 0;
  }
} */

.check {
  font-size: 24px;
}
