body {
  cursor: url("../images/1.png"), auto;
}

button {
  cursor: url("../images/2.png"), auto;
}

/* .container {
  padding-top: 50px;
} */

.div-top {
  margin-right: auto;
  margin-left: auto;
  width: 340px;
  height: 400px;
  background-color: green;
}

.div-top2 {
  width: 200px;
  height: 40px;
  /* background-color: #fff; */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.div-img {
  /* padding-top: 40px; */
  margin-top: 20px;
  background-color: #fff;
}

.div-top-button {
  padding: 20px;
  width: 240px;
  height: 220px;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.div-top-button h1 {
  font-size: 20px;
}

.div-button {
  margin-right: auto;
  margin-left: auto;
  width: 340px;
  height: 50px;
  background-color: green;
}

/* .div-button img {
  display: block;
  margin-left: auto;
  margin-right: auto;
} */

.label-input {
  margin-top: 20px;
  display: none;
  font-size: 19px;
}

/* .btn {
  background-color: #fff;
} */

.btn2 {
  margin-top: 10px;
  display: none;
}

.btn0 {
  display: none;
}

.active {
  display: block;
}

.b {
  margin-right: auto;
  margin-left: auto;
  width: 340px;
  height: 200px;
  background-color: green;
}

.text {
  font-size: 17px;
  margin-bottom: 80px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-end {
  margin-top: 20px;
  margin-left: 28px;
}

.btn {
  margin-top: 20px;
  margin-right: 28px;
}

.a {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;

  background-color: #fff;
  width: 130px;
}

.a p {
  text-align: center;
}
