body {
  background-color: #354538;
  font-size: 30px;
}

.flex {
  display: flex;
  gap: 150px;
  justify-content: center;
  color: antiquewhite;
}
.btn {
  padding: 10px 18px;
}

.btn:active {
  background-color: aqua;
}

.wapper {
  margin-top: 10px;
  background-color: blueviolet;
  padding: 10px;
}

label {
  display: block;
}
